@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#toast-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Spaces out multiple toasts if they appear at once */
  z-index: 9999;
}


/* 2. Individual Toast styling */
.toast {
  background-color: #333;
  color: #fff;
  padding: 12px 24px;
  border-radius: 0.5rem;
  font-family: 'roboto', sans-serif;
  font-size: 1.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  min-width: 200px;
  
  /* Slide-in animation on creation */
  animation: slideIn 0.3s ease-out forwards;
}

#combo-popup {
  position: fixed;
  margin: 0;
  bottom: 20px;
  left: 0;
  right: 0;
  transform: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 9998;
}

.combo-toast {
  
  background-color: #db1313;
  color: #fff;
  padding: 12px 24px;
  border-radius: 1rem;
  font-family: 'luckiest guy', sans-serif;
  font-size: 1.25rem;
  box-shadow: 0 4px 12px rgba(49, 49, 49, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  
  /* Slide-in animation on creation */
  animation: slideUp 0.3s ease-out forwards;
}

.toast.success { background-color: #3cb640; }
.toast.error   { background-color: #F44336; }


/* 3. Smooth slide-out class added right before destruction */
.toast.hide {
  animation: fadeOut 0.5s ease-in forwards;
}

.combo-toast.hide {
  animation: slideDown 0.5s ease-in forwards;
}


/* --- Animations --- */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes slideDown {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}


@keyframes fadeOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}
